@import url(global.css);

body {
    height: 100vh;
    width: 100%;
}
.nav-bar {
    width: 100%;
    padding-inline: 80px;
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    background-color: var(--bg-color);
    nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
    
}

main {
 padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;;
    position: relative;
    margin-bottom: 500px;
    h1 {
        font: var(--text-bg);
        line-height: 5rem;
    }
    p {
            font: var(--text-lg);
    }

    span {
        display: flex;
        gap: 1rem;
    }

    img {
    position: absolute;
    height: 900px;
    top: 0;
    left: 500px; 
    z-index: -1;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}
button {
    margin-top: 3rem;
    font-size: 2rem;
    width: 350px;
}
}

.disable {
    background-color: var(--bg-color);
    border: 1px solid var(--brand-color);
    color: var(--text-secondary);

    &:hover {
        color: var(--bg-color);
         background-color: var(--brand-color);
    }
}

h2 {
   padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
    font: var(--text-lg);
    margin-bottom: 3rem;
}
.How {
    padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
    display: flex;
    gap: 4rem;
    .container {
        max-width: fit-content;
        background-color: var(--bg-color);
        padding: 2rem;
        display: flex;
        border-radius: 1rem;

        .card-info {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            h3 {
                font: var(--text-lg);
            }
        }
        img {
            width: 200px;
            border-radius: 50%;
        }
    }

}

.topic {
    display: flex;
}

footer {
    padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
  display:flex;
  gap: 24px;
  padding-block: 24px;
  font: 14px/150% var(--font-family);
}

footer span:nth-child(1) {
  margin-right: auto;
}

a {
    color: var(--brand-color);
}

.topic {
    margin-top: 30px;
     padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
   color: var(--brand-color);
   font: var(--text-lg);
}